li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.uneaten{
  position:relative;
  float:left;
  margin-right: 2%;
}
.eaten{
  position:relative;
  /*display:inline-block;*/
  /*width:48vw;*/
  float:right;
  margin-left:2%;
}
.newBurgerForm{
  clear:both;
}
